In [11]:
import mysql.connector

def connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        database="mahasiswa"
)

def mahasiswa():
    conn = connection()
    cursor = conn.cursor(dictionary=True)
    query = "SELECT * FROM tsd"
    cursor.execute(query)
    rows = cursor.fetchall()
    cursor.close()
    conn.close()
    return rows

for row in mahasiswa():
    print(row['NIM'])

164241009
164241023
164241025
164241101